<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Voice Emotion Recognition</h1>
    
    <!-- File input for audio upload -->
    <input type="file" id="audioInput" accept=".wav" name="audio">
    <button id="uploadButton">Upload Audio</button>

    <div id="status"></div> <!-- Status messages for the user -->
    <audio id="audioPlayback" controls></audio> <!-- Audio playback element -->
    <div id="response"></div> <!-- Area to display responses from the server -->
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
